/* Skin Colored Waves */
.TagCloud-ColoredWaves {word-wrap: break-word;white-space: pre; white-space: pre-wrap;white-space: pre-line;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: -moz-pre-wrap;white-space: -hp-pre-wrap;word-wrap: break-word;}

.TagCloud-ColoredWaves,
.TagCloud-ColoredWaves ul {margin: 0;padding: 0;background-color:#333;
           font-style: normal;font-variant: normal;font-weight: 400;font-size: 100%;text-align: center;}
		   
.TagCloud-ColoredWaves span a,
.TagCloud-ColoredWaves li a {margin-top: 0px;margin-right: 5px;margin-bottom: 0px;margin-left: 5px;
                 text-transform: capitalize;color: #eefaad;text-decoration:none;border-bottom: 2px solid #ff9900}
				  
.TagCloud-ColoredWaves span a:hover
.TagCloud-ColoredWaves li a:hover {text-decoration:underline}

.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_0,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_0 a {color:#eefaad;}
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_1,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_1 a {color:#aad815;}
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_2,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_2 a {color:#039faf;}
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_3,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_3 a {color:#eefaad;} 
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_4,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_4 a {color:#aad815;}
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_5,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_5 a {color:#ff7600;}
.TagCloud-ColoredPurple span .CloudItem-ColoredWaves_6,
.TagCloud-ColoredPurple .CloudItem-ColoredWaves_6 a {color:#039faf;}

.TagCloud-ColoredWaves hr {display:none;}

/* UL MODE */
.TagCloud-ColoredWaves ul {list-style:none;padding-top:10px}
.TagCloud-ColoredWaves li {display:inline;}