/* Skin UlSimple */
.TagCloud-UlSimple {word-wrap: break-word;white-space: pre; white-space: pre-wrap;white-space: pre-line;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: -moz-pre-wrap;white-space: -hp-pre-wrap;word-wrap: break-word;}


.TagCloud-UlSimple ul {padding:0; margin:0; text-align:center; list-style:none;}.TagCloud-UlSimple ul li {display:inline;}.TagCloud-UlSimple ul li a {color: #ccc;font-family: "Lucida Sans Unicode";}.TagCloud-UlSimple ul a:hover {text-decoration:underline}.TagCloud-UlSimple hr {display:none;}

.TagCloud-UlSimple ul .CloudItem-UlSimple_0 a { color:#0c0c0c;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_1 a { color:#797979;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_2 a { color:#6d6d6d;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_3 a { color:#616161;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_4 a { color:#555555;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_5 a { color:#484848;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_6 a { color:#3c3c3c;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_7 a { color:#303030;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_8 a { color:#242424;}
.TagCloud-UlSimple ul .CloudItem-UlSimple_9 a { color:#181818;}